@import "mod/mixin";
@import "mod/reset";
@import "mod/layout";
@import "mod/color";
@import "mod/button";
@import "mod/form";
@import "mod/progress";
//page menu style
$menu-bg:rgb(32,43,57);
@import "mod/menu";
@import "mod/step";
//plugins style
@import "mod/layer";
@import "mod/select2";
@import "mod/pagination";
h5{
  margin:{
    top:10px;
    bottom:15px;
  }
}
.gradient-white{
  font-weight:700;
  @include gradient-text($theme,$menu-bg,right);
}
.gradient-theme{
  font-weight:700;
  @include gradient-text($theme,#fff,right);
}