@import "mod/mixin";
@import "mod/reset";
@import "mod/layout";
@import "mod/color";
@import "mod/button";
@import "mod/form";
@import "mod/progress";
//page menu style
$menu-bg:rgb(32,43,57);
@import "mod/menu";
@import "mod/step";
//plugins style
@import "mod/layer";
@import "mod/select2";
@import "mod/pagination";
h5{
  margin:{
    top:10px;
    bottom:15px;
  }
}
//content
@mixin border($c,$property:border){
  #{$property}: 1px solid $c;
}
.content-main{
  padding:0 $px15{
  bottom:30px;
};
}
.main-title{
  margin:0;
  padding:$px10 0;
  @include border($border-color,border-bottom);
}
.header-title{
  border-top:1px solid $border-color;
  margin-top:$px15 * 2;
  .title-text{
    display:inline-block;
    font-size:20px;
    margin:0;
    position:relative;
    top:-11px;
    left:$px20;
    padding: 0 $px10;
    background-color: #fff;
    font-weight: 300;
  }
}
.gradient-white{
  font-weight:700;
  @include gradient-text($theme,$menu-bg,right);
}
.gradient-theme{
  font-weight:700;
  @include gradient-text($theme,#fff,right);
}
.link{
  @include line-link($bg-color);
}