@charset "UTF-8";
@import "../mod/_mixin";
//mobile nav
@mixin flex-dir($dir:row){
  flex-direction: $dir;
  -webkit-flex-direction: $dir;
}
@mixin flex($dir:row){
  display:flex;
  display:-webkit-flex;
  @include flex-dir($dir);
}
@mixin flex-flow($dir){
  flex-flow: $dir nowrap;
  -webkit-flex-flow: $dir nowrap;
}
.nav-block{
  height:40px;
  line-height: 40px;
  border:1px solid #cccccc;
  @include flex();
  flex:1;
  text-align: center;
  background-color: #fff;
  li{
    flex:1;
    &.active{
      border-bottom:2px solid $theme;
    }
  }
}

.content{
  width:100%;
  height:100%;
  overflow: hidden;
}
$h:44px;
.content-title{
  width:100%;
  height:$h;
  line-height: $h;
  @include position(fixed,$top:0);
  font-size:18px;
  text-align: center;
  background-color: $theme;
  color:#fff;
  @include box-shadow(0 1px 20px 0 $theme);
  .back{
    font-size:14px;
    @include float-set(right);
  }
}
.ms-box{
  width:100%;
  height:auto;
  padding: 0 15px;
}
.ms-box>*{
  display:block;
  line-height: 40px;
}
.ms-box>*{
  border-bottom:1px solid #ddd;
}

//mescroll
.one .ms-fixed{
  display:block;
  @include position(fixed,$top:44px,$bottom:0,$right:0,$left:0);
}
.mescroll-totop{
  width:80px !important;
  height:72px !important;
  cursor: pointer;
}
.empty-btn{
  line-height: 1.2;
}
.header-fixed,.ms-fixed{
  width:100%;
}
.header-fixed{
  @include position(fixed,$left:0,$top:0);
  .content-title{
    position: relative;
  }
}
body .content-fixed,.ms-fixed{
  @include position(fixed,$left:0,$right:0,$top:84px,$bottom:0);
}
.ms-fixed{
  height:auto !important;
  display:none;
  &.active{
    display:block;
  }
}
.nav-fixed{
  z-index: 9999;
  position: fixed;
  top: 44px;
  left: 0;
  right:0;
  width: 100%;
}
//scroll nav
.scrollx{
  height:44px;
  line-height: 44px;
  overflow: hidden;
  background-color: rgba(#efefef,.8);
}
.scrollx-content {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}
.downwarp-tip{
  img{
    height:80px;
    width:auto;
  }

}
.nav.nav-normal{
  li{
    float:none;
    padding:0 6px;
    margin-bottom:50px;
    &.active{
      float:none;
      color: $theme;
      background-color: rgba(#fff,.6);
    }
  }
}