/*layer style-----------------start*/
.layui-layer a {
  -webkit-transition: all 0s;
  -moz-transition: all 0s;
  -ms-transition: all 0s;
  -o-transition: all 0s;
  transition: all 0s;
}
.layui-layer-setwin .layui-layer-close {
  z-index: 10;
}
.layui-layer.layui-layer-page {
  box-shadow: none;
}
.layui-layer-btn {
  background-color: #efeeee;
  .layui-layer-btn0 {
    border-color: #ff6000 !important;
    background-color: #ff6000 !important;
  }
  .layui-layer-btn1{
    &:hover,&:focus{
      background-color: #fff;
      color:#222;
    }
  }
  padding: 0 !important;
  a{
    margin: 10px 6px !important;
  }
}
.layui-layer-hui{
  background-color: rgba(0,0,0,.6);
  color: #fff;
}
.layui-layer-content{
  padding:15px;
}
.layui-layer-resize{
  display:none;
}
/*layer style-----------------end*/