/*progress style start------------*/
.progress-bar{
  background-color: $theme-color;
}
.progress-bar-success{
  background-color: $cg;
}
.progress-bar-info{
  background-color: $cb;
}
.progress-bar-warning{
  background-color: $ct;
}
.progress-bar-danger{
  background-color: $color-danger;
}
/*progress style end------------*/
